section#about.about
  .container
    h2.about__title
      | Мы помогаем всем мужчинам выглядеть уверенно
    p.about__description
      | Сhik chik — это намного больше, чем просто барберная. Это место, где
      | вам помогут найти свой собственный, неповторимый стиль. Стоит
      | довериться нашим мастерам один раз, и, поверьте, новый образ не
      | оставит Вас равнодушным. Мужские стрижки и опасное бритье — это наш
      | профиль, и мы уверены, что наши барберы делают это лучше всех
    ul.about__list
      li.about__item
        img.about__img(src=require('../../images/about/icon-1.svg') alt='' width='80' height='80')
        div.item__content
          h3.about__item-title Топ специалисты
          p.about__item-description
            | Мы подстрижем вас на высшем уровне
      li.about__item
        img.about__img(src=require('../../images/about/icon-2.svg') alt='' width='80' height='80')
        div.item__content
          h3.about__item-title Мастера бород и усов
          p.about__item-description
            | Мы заботливо уложим вашу бороду и усы
      li.about__item
        img.about__img(src=require('../../images/about/icon-3.svg') alt='' width='80' height='80')
        div.item__content
          h3.about__item-title Гарантия качества
          p.about__item-description
            | Мы используем только профессиональные средства