section.hero
  .container
    h1.hero__title.h1-title
      span.visually-hidden Барбершоп Chik-Chik
      span Мы создаем искусство, которое не стыдно показать
    .hero__slider
      include ../blocks/_slider