section#price.price
  .container
    h2.price__title Стоимость наших услуг
    p.price__tagline ...бесценна, но все же
    .price__wrapper-content
      .price__content
        ul.price__list
          li.price__item
            span.price__item-title Стрижка ножницами
            span.price__item-count_price 2500 руб
          li.price__item
            span.price__item-title Стрижка машинкой
            span.price__item-count_price 2500 руб
          li.price__item
            span.price__item-title Стрижка + Стрижка бороды
            span.price__item-count_price 2500 руб
          li.price__item
            span.price__item-title Стрижка + Моделирование бороды
            span.price__item-count_price 2500 руб
          li.price__item
            span.price__item-title Бритье головы
            span.price__item-count_price 2500 руб
          li.price__item
            span.price__item-title Укладка
            span.price__item-count_price 2500 руб
          li.price__item
            span.price__item-title Оформление бровей
            span.price__item-count_price 2500 руб
        a.price__link.main-link(href='#reserve') Записаться