@font-face {
  font-display: swap;
  font-family: 'DinPro-Bold';
  // font-style: normal;
  // font-weight: 400;
  src: url('../../fonts/PFDinTextPro-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'DinPro-Medium';
  // font-style: normal;
  // font-weight: 400;
  src: url('../../fonts/PFDinTextPro-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'DinPro-Regular';
  // font-style: normal;
  // font-weight: 400;
  src: url('../../fonts/PFDinTextPro-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto-Regular';
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2');
}
