include pug/libs/_libs

doctype html
html(lang='ru')
  include pug/common/_head 
  body
    include pug/header/_header
    main
      include pug/sections/_hero     
      include pug/sections/_price
      include pug/sections/_about
      include pug/sections/_reserve
    include pug/common/_footer
    