footer.footer
  .container
    .footer__container
      img.footer__logo(src=require('../../images/logo.svg') alt='' width='70' height='40')
      .footer__navigation.navigation
        ul.navigation__list
          li.navigation__item
            a.navigation__link(href='#price') Стоимость услуг
          li.navigation__item
            a.navigation__link(href='#about') О нас
      .footer__contacts
        p.footer__contact
          span Дизайнер:
          | Helene
        p.footer__contact
          span Разработчик:
          | Eva
      p.footer__copyright @Chik-Chik, 2023